version: "3.8"
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      - ./backend:/usr/src/app
volumes:
  mongo-data: